"\eOA": history-search-backward
"\e[A": history-search-backward
"\eOB": history-search-forward
"\e[B": history-search-forward

# for OSX
"\eOC": forward-char
"\e[C": forward-char
"\eOD": backward-char
"\e[D": backward-char
"\e[5C": forward-word
"\e[5D": backward-word
"\e[1;5C": forward-word
"\e[1;5D": backward-word
